<ion-view title="Bolichón Page" id="page6">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="bolichNPage-card23">
      <ion-item class="item-avatar" id="bolichNPage-list-item14">
        <h2>Item</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
      <div id="bolichNPage-markdown2">
        <p style="color:#000000;">Some friendly
          <strong>markdown</strong>
        </p>
      </div>
    </div>
    <button id="bolichNPage-button10" class="button button-positive  button-block">Estoy acá!</button>
  </ion-content>
</ion-view>