<ion-view title="Falta lugar" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="faltaLugar-form1" class="list">
      <label class="item item-input" id="faltaLugar-input2">
        <span class="input-label">Nombre</span>
        <input type="text" placeholder="Ingresar nombre">
      </label>
      <label class="item item-input" id="faltaLugar-input3">
        <span class="input-label">Dirección</span>
        <input type="text" placeholder="Ingresar dirección">
      </label>
      <label class="item item-input" id="faltaLugar-input5">
        <span class="input-label">Imagen</span>
        <input type="text" placeholder="Link a una imágen">
      </label>
    </form>
    <div id="faltaLugar-markdown3">
      <p style="color:#000000;">Agradecemos por ayudarnos a completar la lista de boliches que intentamos mantener actualizada. El lugar va a ser constatado y agregador posteriormente.</p>
    </div>
    <div class="spacer" style="width: 300px; height: 95px;"></div>
    <button id="faltaLugar-button11" class="button button-positive  button-block">Enviar</button>
  </ion-content>
</ion-view>