<ion-view ng-controller="conectateCtrl as con" title="Increíble lista de boliches" id="page2" style="background-color:#FF;">
  <ion-content padding="true" class="has-header">
    <div class="col col-offset-75 col-25"> 
      <img src="{{con.profilePicture}}"> 
    </div>
    <p>
      Add some
      <b>HTML</b> for
      <u>flavor</u>
    </p>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <ion-list id="increBleListaDeBoliches-list2">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-thumbnail-left positive" id="increBleListaDeBoliches-list-item2">
        <h2positive>Título
        <p style="white-space:normal;">Cantidad de gente aprox. {{con.profilePicture}} </p>
        </h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="increBleListaDeBoliches-list-item3">
        <h2positive>Item 2</h2positive>
      </ion-item>
      <ion-item class="item-thumbnail-left positive" id="increBleListaDeBoliches-list-item4">
        <h2positive>Item 3</h2positive>
      </ion-item>
    </ion-list>
    <button id="increBleListaDeBoliches-button3" class="button button-positive  button-block">¿Falta algún lugar? ¡Avisanos!</button>
  </ion-content>
</ion-view>